@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Gowun+Dodum&family=Josefin+Sans&family=Yesteryear&display=swap');
body{
    background-image: url('https://images.pexels.com/photos/4321194/pexels-photo-4321194.jpeg?cs=srgb&dl=pexels-jess-loiterton-4321194.jpg&fm=jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: rgb(18, 18, 145);
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(5, 5, 131);
}

nav > a {
    font-family: 'Yesteryear', cursive;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 70px ;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.botão{
    color: rgb(255, 255, 255) ;
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(88, 90, 216) ;
    font-size: .8em;
    border-radius: 5px;
}

.botão:hover{
    background-color: rgb(5, 5, 131);
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/414781/pexels-photo-414781.jpeg?cs=srgb&dl=pexels-pixabay-414781.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;

}

header h1{
    color: rgb(255, 255, 255);
    margin-top: 2em;
}

header p{
    margin-bottom: 4em;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: rgb(5, 5, 131);
    color: rgb(255, 255, 255) ;
}

#sobre h2 {
    color: rgb(255, 255, 255) ;
}

#sobre p {
    color: rgb(255, 255, 255) ;
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botão {
    background-color: rgb(200, 200, 241);
    color: rgb(5, 5, 131);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: .9em;
}

#sobre .botão:hover {
    background-color: rgb(170, 170, 173);

}

#serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#serviços div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#serviços div img{
width: 50px;
height: 50px;
}



#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    
    
    
}

#fotos h2 {
    margin-bottom: 0px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 5, 131);
    padding: 20px;
    
}

#fotos img {
    max-width: 100%;
    height: 316px;
    width: 316px;
    object-fit: cover;
    
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

#contato img{
    width: 50px;
    height: 50px;
}

#contato h2 {
    color: black;
}

#contato p{
font-size: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(5, 5, 131);
    color: rgb(255, 255, 255);
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #sobre {
     height: 250px;
     height: 30vh;
     justify-content: center;
     min-height: 250px;   
    }

    #serviços {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;

    }

    #serviços h2 {
        text-align: center;
        width: 100%;
    }

    #serviços div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    
    #fotos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #fotos h2 {
        width: 100%;
        text-align: center;
    }

    #fotos img {
        width: 33.3333333%;
    }

    #contato {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2, #contato p {
        width: 100%;
    }
}